/*ADMIN VIEW*/

/* Whole website background to light grey */
.bg-light-grey {
  background-color: #F4F1EA;
}

body {
  background-color: #F4F1EA;
}

.card-image {
  position: relative;
}

.card-image__img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-image__src {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: white;
  font-size: 12px;
  font-family: sans-serif;
  border-radius: 3px;
}

/*USER VIEW*/
.container {
  background: #F0F0F0;
  padding: 10px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  display: inline-block;
}

.peach-button {
  border-radius: 12px;
  background-color: #FFCBA4; /* Peach color */
  color: #000000; /* Black color for text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.peach-button::before {
  content: "\2192"; /* Unicode arrow right symbol */
  position: absolute;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.peach-button:hover {
  background-color: #FFA87D; /* Lighter shade of peach on hover */
}

.peach-button:hover::before {
  opacity: 1;
}
/* App.jsx */
.app-container {
  text-align: center;
  padding: 20px;
}

.title-section {
  background-color: #F4F1EA; /* Quicksand color */
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

.line {
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

.footer-section {
  background-color: #F4F1EA; /* Quicksand color */
  padding: 20px;
  text-align: center;
}

.button-container {
  display: flex;
}

/* Button Styles */
.admin-button,
.user-button {
  background-color: white;
  border: 1px solid white;
  border-radius: 12px;
  color: black;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.admin-button:hover,
.user-button:hover {
  background-color: #887878;
  color: white;
}