/*ADMIN VIEW*/

/* Whole website background to light grey */
.bg-light-grey {
  background-color: lightgrey;
}

/* Circular image style */
.circle-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Center circular image */
.circle-image-container {
  height: 100px; /* Set the desired height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust card width based on the number of columns */
@media (min-width: 576px) {
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
}

/*USER VIEW*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: sandstone;
}

.form-container {
  width: 400px;
  padding: 20px;
  background-color: cream;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}