/*ADMIN VIEW*/

/* Whole website background to light grey */
.bg-light-grey {
  background-color: #F4F1EA;
}

body {
  background-color: #F4F1EA;
}

.card-image {
  position: relative;
}

.card-image__img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-image__src {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: white;
  font-size: 12px;
  font-family: sans-serif;
  border-radius: 3px;
}

/*USER VIEW*/


/* App.jsx */
.app-container {
  text-align: center;
  padding: 20px;
}

.title-section {
  background-color: #F4F1EA; /* Quicksand color */
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

.line {
  border: none;
  border-top: 1px solid black;
  margin: 0;
}

.footer-section {
  background-color: #F4F1EA; /* Quicksand color */
  padding: 20px;
  text-align: center;
}

.button-container {
  display: flex;
}